
.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  color: #656565;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
}

.status-bar .status-bar__battery {
  transform: rotate(270deg);
}