html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

ul {
  padding: 0;
}

/* wrap */
.wrap {
  min-width: 1200px;
}

.icon-li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #75787b;
}

/* header */
.header {
  color: white;
  background-color: #24292e;
}

.header-content {
  display: flex;
  flex-direction: row;
  margin: 0 10rem;
  padding: 0.3rem 0 0.3rem;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header-nav li {
  cursor: pointer;
  margin-right: 1rem;
  text-align: center;
}

.header-service {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-service div {
  margin-left: 1rem;
}

.header-search {
  background-color: rgba(64, 68, 72, 1);
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.header-search:focus {
  background-color: #fff;
  color: transparent !important;
}

.header-search::placeholder {
  color: gray;
}

.header-signUp {
  padding: 8px;
  border: 1px solid white;
  border-radius: 3px;
}


/* banner */
.banner {
  background: url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg),#2b3137;
  background-position: center 10%;
  background-size: cover;
  background-color: #2b3137;
  padding: 64px 0 64px;
}

.banner-content {
  width: 980px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 16px;
}

.banner-info {
  width: 506px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1rem;
}

.banner-title {
  font-size: 64px;
  font-weight: 500;
  margin: 0 0 0.8rem;
}

.banner-desc {
  font-size: 20px;
  color: #a8abad;
}

.banner-login_area {
  flex: 1;
  padding: 0 24px;
}

.banner-login_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafbfc;
  padding: 24px;
  border-radius: 3px;
  height: 423px;
}

.banner-login_form {
  width: 100%;
}

.banner-input_area {
  margin-bottom: 15px;
}

.banner-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.banner-input {
  background-color: #fafbfc;
  width: 95%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 16px;
}

.banner-input::placeholder {
  color: #cccccc;
}

.password {
  margin: 15px 0 15px;
}

.banner-input_btn_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-login_btn{
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1px solid #2ebc4f;
  padding: 20px 32px 20px;
  outline: none;
  background-color: #2ebc4f;
  border-radius: 3px;
}

.banner-explain1 {
  font-size: 12px;
  margin-bottom: 15px;
}
.banner-explain2 {
  font-size: 12px;
  margin-top: 16px;
}


/* enterprise */
.enterprise {
  background-image: url(https://github.githubassets.com/images/modules/site/patterns/dots-large.svg);
  background-position: center 10%;
}

.enterprise-content {
  width: 980px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 16px;
}

.enterprise-info {
  padding: 40px;
  margin: 0 auto;
}

.enterprise-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.enterprise-btn {
  cursor: pointer;
  color: white;
  background-color: #1074e7;
  border-radius: 3px;
  border: 1px solid #1074e7;
  padding: 16px 24px 16px;
}


/* responsive */
.res {

}

.res-content {
  width: 980px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 16px;
}

.res-info {
  width: 100%;
  padding: 80px 0 80px;
}

.res-img_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.res-img {
  padding: 0 32px;
  height: 25px;
  margin: 10px 12px 10px;
  width: auto;
}


/* py1 */
.py1 {
  padding: 80px 0 80px
}

.py1-1content {
  width: 980px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px 40px;
}

.py1-1title {
  color: #586069;
  text-align: center;
  font-size: 16px;
}

.py1-1subtitle {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin: 16px 0 8px;
}

.py1-1desc {
  color: #586097;
  width: 70%;
  margin: 0 auto 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.py1-1btn_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.py1-1btn {
  cursor: pointer;
  color: #1074e7;
  border: 1px solid #1074e7;
  padding: 20px 32px 20px;
  outline: none;
  background-color: #fff;
  font-weight: bold;
}

.py1-2content {
  width: 1248px;
  margin: auto;
  padding: 0 16px;
}

.py1-2area {
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
}

.py1-2image {
  margin: 0 40px 16px;
  width: 2000px;
}

.py1-2option_list {

}

.py1-2option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 24px;
  transition: 0.5s;
}

.py1-2option:hover {
  box-shadow: 0 0 6px 3px #e6e6e6;
}

.py1-2info {
  padding-right: 40px;
}

.py1-2info_title {
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 20px;
}

.py1-2info_desc {
  font-size: 16px;
}

.py1-2info_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.py1-plain {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 40px 0 0;
}

.py1-card_list {
  width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
}

/* card */
.card-main {
  margin: 16px;
  box-shadow: 0 2px 4px rgba(27,31,35,.15);
}

.card {
  padding: 16px 16px 0;
}

.card-img_wrap {
  border-radius: 3px;
}

.card-img {
  width: 248px;
  height: 200px;
}

.card-info {
  padding-top: 16px;
}

.card-title {
  font-size: 16px;
  margin: 0 0 4px;
}

.card-desc {
  margin: 0 0 10px;
  font-size: 12px;
}

.card-more {
  display: flex;
  color: #1074e7;
  border-top: 1px solid #e1e4e8;
  padding: 16px 0 16px;
}

.card-read_more {
  flex: 1;
}


/* py2 */
.py2 {
  padding: 80px 0 80px;
}

.py2-content {
  width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}

.py2-content > * {
  text-align: center;
}

.py2-title {
  color: #586069;
  font-weight: 400;
  font-size: 16px;
}

.py2-subtitle {
  font-size: 48px;
  font-weight: 700;
}

.py2-info {
  width: 653px;
  color: #586069;
  margin: 0 auto 24px;
  font-size: 20px;
}

.py2-btn_wrap {
  margin: 0 0 32px;
}

.py2-btn_wrap button {
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  color: #1074e7;
  border: 1px solid #1074e7;
  border-radius: 3px;
  padding: 20px 32px 20px;
}

.py2-price_work {
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 40px 0 16px;
}

.py2-price_img {
  width: 50%;
  padding-left: 32px;
}

.py2-host {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 58.33333%;
  margin: 0 auto;
  padding: 32px 24px 24px;
  border: 1px solid rgb(225, 228, 232);
  border-radius: 3px;
}

.py2-host_icon {
  margin-right: 24px;
}

/* py3 */
.py3 {
  padding: 80px 0 80px;
}

.py3-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0 0 40px;
}

.py3-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  border-radius:50%;
  width: 96px;
  height: 96px;
  transition: 0.5s;
}

.py3-icon:hover {
  box-shadow: 0 0 8px 4px rgba(27,31,35,.15);
}

.py3-icon:nth-child(even) {
  margin-top: 95px;
}

.py3-icon_img {
  height: auto;
  max-height: 55%;
  max-width: 60%;
}


/* py4 */
.py4 {
  padding: 80px 0 80px;
}


/* footerLogin */
.footLogin {
  color: white;
  background-color: #24292e;
  padding: 80px 0 80px;
}

.footLogin-content {
  width: 980px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 16px;
}

.footLogin-title {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}

.footLogin-form_wrap {
  max-width: 1280px;
  margin: 40px auto 0;
  padding: 40px 16px 40px;
}

.footLogin-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footLogin-input_wrap {
  padding: 0 16px 0;
}

.footLogin-input_btn_area {
  width: 280px;
  margin: 0 10px 0;
  padding: 0 16px 0;
}


/* foot */
.foot {
  margin-top: 40px;
}

.foot-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.foot-menu {
  display: flex;
  flex-direction: row;
}

.foot-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0 0 32px;
  width: 33.33333%;
}

.foot-menu_item_list {
  padding-left: 24px;
  margin-bottom: 8px;
}

.foot-menu_item_ul {
  list-style: none;
}

.foot-menu_item_ul li {
  margin-bottom: 16px;
  font-size: 14px;
  color: #6a737d;
}

.footer {
  background-color: #fafbfc;
}

.footer-mapping {
  color: #6a737d;
  padding: 24px 16px 24px;
  display: flex;
  flex-direction: row;
}

.foot-info {
  flex: 1;
  width: auto;
  font-size: 12px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.foot-info li {
  margin-right: 16px;
}

.foot-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.foot-icons li {
  margin-right: 16px;
}

.foot-icons li i {
  font-size: 18px;
}