
@font-face {
  font-family: HGGGothicssi40g;
  src: url('./font/HGGGothicssi_40g.eot');
}

@font-face {
  font-family: HGGGothicssi60g;
  src: url('./font/HGGGothicssi_60g.ttf');
}

@font-face {
  font-family: YoonGothicPro740;
  src: url('./font/YoonGothicPro740.ttf');
}
